<section class="card">
    <div class="body " >
        <h1 class="mt-4 my-4">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis libero, eos debitis velit nisi maxime voluptatem reiciendis unde nam perspiciatis?</p>
    </div>
</section>