<div class="jumbotron mt-4"> 
    <h1 class="display-4">Notes APP</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam in temporibus, nesciunt libero et aspernatur quos impedit eveniet sit maiores. Laborum necessitatibus expedita fugit dolorem iusto repudiandae ipsam recusandae modi. </p>
    <hr class="my-4"> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores assumenda quidem modi non illo? Quia accusantium temporibus sapiente odit possimus!</p>
    <a href="https://portafolio-franco-tejada.vercel.app/" class="btn btn-primary">Mi Blog </a>
    
</div>